# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Node modules
node_modules/

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Translations
*.mo

# Sphinx documentation
docs/_build/

# Editor configurations
config.codekit